<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include("../partials/nav.ejs") %>
    <h1>Quiz</h1>
    <div style="width: 360px; height: 300px;">
        <img src="<%= car.image %>" alt="" style="width: 100%; height: 100%;">
    </div>
    <form action="/quiz" method="GET">
        <label for="name">Guess the car model from the image</label>
        <input type="text" name="name" id="" placeholder="E.g  Corolla.  " value="<%= guess %>">
        <button type="submit">Try again</button>
    </form>
    <p><%= car.name.toLowerCase() == guess.toLowerCase() ? "You guessed correctly" : "You guessed incorrectly" %>, it is the <%= car.name %> </p>
    
</body>
</html>